body {
    background-color: #fefefe;
}

h3{
    color: darkcyan;
}

footer{
    color: darkgray;
}

.header {
    color: #5B9279;
}

.little-header {
    color: #8FCB9B;
}

.diary-header {
    color: #8F8073;
}

.about {
    background-color: #EAE6E5;
}